/***Add fonts****/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
    font-family: 'markerregular';
    src: url('../fonts/permanentmarker-regular-webfont.woff2') format('woff2'),
         url('../fonts/permanentmarker-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grapeNuts';
    src: url('../fonts/GrapeNuts-Regular.woff2') format('woff2'),
        url('../fonts/GrapeNuts-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
	background-color: #46518C;
	color: #D9D9D9;
	font-family: 'Courier New', Courier, monospace,sans-serif;
	margin: 5px;
}


h1 {
	color: #FFDA3E;	
	margin: 0;
}

h2{
	text-align: center;
}

header{
	background-color: #1B2440;
	margin-bottom: 5px;
}


hr{
	border: none;
	height: 4px;
	background-color: #D9D9D9;	
}

footer {
	background-color: #1B2440;
	color: #6D7E8C;
	margin-top: 5px;	
}

footer p{
	margin: 0;
	text-align: center;
}

form {
	border: 2px solid ;
	border-color: #D9D9D9;
	width: fit-content;
	padding: 15px;
	text-align: center;
	margin: auto;
}

form li, button{
	text-align: left;
	list-style-type: none;
}



main{
	margin: 5px;
	width: 85%;
    font-family: 'grapeNuts';
	font-weight: bolder;
	font-size:larger;
}

nav {
	width: 15%;
	background-color: #1B2440;
}

nav ul{
	list-style-type: none;
	font-family: markerregular,serif;
	font-weight: bold;
	font-size: larger;
}

nav a{
	color: #FFDA3E;	
	text-decoration: none;
	
}

nav a:hover {
	color: #D9D9D9;
	text-decoration:underline;
}

button {
	background-color: #1B2440;
	color: #6D7E8C;
}

input[type="text"],input[type="number"]{
	background-color: #D9D9D9;
	color: #D9D9D9;
}

header, nav, main, footer {display: block;}

table {
	margin: auto;
}

/*#wrapper {
  }*/

  /*****************************
  *             Id             *
  ******************************/

#logo{
	margin: 5px 15px;
}

#msgError{
	color: red;
	text-align: left;
	font-weight: bold;
}

#results{
	color: #D9D9D9;
	text-align: center;
}


  /******************************
Classes - Add Classes for fonts
 *******************************/
.header-space{
	align-items: center;      /* Centra verticalmente el H1 respecto a la imagen */
	display: flex;            /* Coloca los elementos uno al lado del otro */
	font-family: markerregular,serif;
  	gap: 25px; 
	justify-content: center;    /*  Centrado horizontal del conjunto */ 
	text-align: center;
}

.center{
	text-align: center;
}

.container{
	display: flex; /*Activa Flexbox*/
}

